@import 'navbar.css';
@import 'footer.css';
@import 'info-hastag.css';

*{
  margin: 0;
  padding: 0;
  font-family: 'Robotoo', sans-serif;
}

/* container */
.container{
  max-width: 1349px;
  width: 1349px;
  margin-top: 100px;
  padding: 0 100px 50px 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
/* akhir container */

/* forum */
.forum{
  width: 900px;
  height: 1200px;
  border-radius: 5px;
  padding: 50px 30px 10px 30px;
  box-sizing: border-box;
  border: 2px solid #929292;
}

.judul{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  color: #4E4E4E;
}

.judul img{
  width: 53px;
  margin-right: 10px;
}

.daftar-forum{
  border-top: 1px solid #000000;
  padding: 20px 0 30px 0;
  box-sizing: border-box;
  overflow: scroll;
  height: 900px;
  
}

.daftar-forum .kotak-forum{
  width: 600px;
  display: flex;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-top: 40px;
}

.daftar-forum .kotak-forum .text-forum h2{
  margin-bottom: 10px;
  font-size: 28px;
  color: #1F1F1F;
}

.daftar-forum .kotak-forum .text-forum .hastag{
  display: flex;
  margin-top: 20px;
}

.daftar-forum .kotak-forum .text-forum .hastag p{
  width: 100px;
  height: 38px;
  line-height: 38px;
  background-color: #0096C7;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
}

.bawah-kotak, .penanya, .fitur-pencapaian, .fitur-dilihat, .fitur-komen{
  display: flex;
  align-items: center;
}

.bawah-kotak{
  margin-top: 20px;
  justify-content: space-between;
}

.bawah-kotak .penanya img{
  margin-right: 10px;
}

.fitur-dilihat img, .fitur-komen img, .fitur-bookmark{
  width: 25px;
  height: 18px;
  margin-right: 10px;
}

.fitur-pencapaian{
  justify-content: space-between;
}

.fitur-dilihat, .fitur-komen{
  margin-right: 20px;
}

.kotak-penjelasan{
  border-right: 1px solid #929292;
  box-sizing: border-box;
  padding-right: 30px;
}

.kotak-jml-jawaban{
  box-sizing: border-box;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* halaman */
.no-halaman{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.nomor{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: 10px;
}

/* button */
.button{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.btn-prev{
  width: 60px;
  height: 30px;
  border: 1px solid #B6B6B6;
  text-align: center;
  border-radius: 5px;
}

.btn-prev a{
  text-decoration: none;
  color: black;
  line-height: 30px;
}



.btn-next{
  width: 60px;
  height: 30px;
  border: 1px solid #B6B6B6;
  background-color: #0096C7;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
}

.btn-next a{
  text-decoration: none;
  color: white;
  line-height: 30px;
}




