/* buat navbar */
nav{
  max-width: 1366px;
  background: #0096C7;
  padding: 0 100px 0 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 60px;
  box-shadow: 0 5px rgba(0,0,0, 0.15);
  position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 10;
}

.navbar{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.navbar img{
  width: 80px;
  height: 40px;
}

.navbar ul{
  list-style: none;
}

.navbar ul li{
  display: inline-block;
  font-size: 20px;
  margin-left: 50px;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
}

.profile{
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
}

.profile img{
  width: 49px;
}

.profile h3{
  color: white;
}